<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
 .container {
    width: 70%;
    height: 70%;
    border-radius: 3px;
    background-color: #f2f2f2;
    padding: top;
    margin-top: 20px;
    margin-left: 15%;
    margin-bottom: 20px;
    text-align: center;  
  }
</style>

</head>
<body>
    <div class="container">
        <h1>ยืนยันการลงทะเบียนสำเร็จ!!</h1>
    </div>
    
<script>

  alert("!ยินดีด้วย ลงทะเบียนสำเร็จ!");
</script>

</body>
</html>